@charset "UTF-8";

.container {
    display: grid;
    grid-template-rows: 100px 50px 350px 50px;
    grid-template-columns: 2.5fr 1fr;

    gap: 4px;
}

div {
    border: 1px solid black;
    padding: 5px;
}

.topo {
    color: white;
    text-align: center;
    background-color: blue;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 1;
    grid-column-end: 3;
}

.menu {
    background-color: gray;
    color: white;
    text-align: center;

    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
}

.principal {
    background-color: green;
    color: white;
    text-align: center;
}

.secundario {
    background-color: brown;
    color: white;
    text-align: center;
}

.rodape {
    background-color: aqua;
    text-align: center;

    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 3;
}