@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1.1em;
}

html, body {
    min-height: 100vh;
    background-color: rgba(169, 169, 169, 0.76);
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}

/*
font-variant: small-caps;
A declaração acima funciona para deixar as letras maiusculas, entretanto, a primeira letra ficará levemente maior que as outras. Como usado no h1 do header.

text-transform: uppercase;
A declaração acima funciona para colocar todas as letras em MAIUSCULA.
Exemplo disso, é se fosse colocar no h1 do header.
*/

header p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 1.8em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(77, 76, 76, 0.432);
    color: white;
    box-shadow: inset 6px 11px 0px rgba(0, 0, 0, 0.247);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 12px;
}




